@{
    ViewData["Title"] = "About Us";
}


<div class="row">
    <div class="col-md-5 mx-auto">
        <h5><br>OUR STORY</h5>
        <hr style="width:60%; margin-left:auto;margin-right:auto;">
        <p>
            Melie Mei Langi' was founded by Samiuela Fangaloka in 2002, in the rural Victorian town of Robinvale. 
            Initially, it was a convenient way for the locals to send money back to Tonga, but has since grown to 
            an Australia wide service with customers from as far away as Perth, WA and far Nth Queensland now using 
            the service.</p>
        <p>
            We believe that our number one priority, to help those less fortunate friends and relatives 
            overseas, is the reason for the success of our services, hence why we are experiencing very
            rapid growth. This growth has seen the opening of our busiest branch in Otahuhu, Auckland, NZ, 
            branches in the USA and newest addition American Samoa and Fiji, which has opened up the reach 
            of Melie Mei Langi to those who reside in those countries.</p>
         <p>The opening of Melie-Mei-Langi supermarkets and meat imports to Tonga, has allowed us to provide
             the people of Tonga with competitively priced groceries and meat. It also gives those living 
             overseas an option to purchase the groceries for pick up in Tonga, or to send the money for pick
             up in Tonga. Many of our Australian and New Zealand customers have found our shopping services
            to be very useful and it can account for up to 40% of transactions sent to Tonga.</p><br>
    </div>
    <div class="col-md-5 mx-auto">
   <h5><br>OUR MISSION</h5>
        <hr style="width:60%; margin-left:auto;margin-right:auto; ">
         <p> Melie Mei Langi is a family owned and operated business, and we pride ourselves in good, 
           prompt customer service and professionalism. We strive to give our customers the best daily
           foreign exchange rates and lowest meat and grocery prices, which we believe, in turn, will help
           your families and friends overseas.</p>
        <p>
            Our Motto is "Tui Pe 'O Fai Totonu", which roughly translated means <i>"Trust"</i> and <i>"Do Right!"</i>. This is
            the cornerstone of our day to day operations, and we will do our best to <i>"Do Right"</i> by you.
            <i>"Trust"</i> me! May God Bless You!</p>
        <img src="~/images/about/mml1.jpg" width=210px; height=150px alt="mmltonga1"/>
        <img src="~/images/about/mml2.jpg" width=210px; height=150px alt="mmltonga2" />
</div>

 </div>