@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <img src="~/images/home/img1.png" width="990px; height:540px"/>
</div>

<div class="text-white" style="position:fixed; left:512px; bottom:90px;width:250px">
    <a style="font-size:10px" class="btn btn-outline-light" asp-controller="Products" asp-action="Index" class="btn btn-transparent">Start shopping</a>

</div>
