<div>
    <div class="col-md-6 offset-3">
        <h4 style="margin-top:110px"> We have received your order! </h4>
        <p> We'll send you the shipping details soon. 
        <br>Meanwhile, you can check your orders in your account or browse our shop.
        <br> Thank you!
        </p>
    </div>
</div>


<div>
<a class="btn" style="background-color:#ef2021;color:#f9f6f3;font-family:Verdana;font-size:12px;width:200px;margin-bottom:200px" asp-controller="Products" asp-action="Index">
    BROWSE SHOP</a>
</div>